<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" routerLink="/home">
        <img src="./../../assets/images/logo2.png">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-end">
      <div class="navbar-start nav-menu">
        <a class="navbar-item"  routerLink="/nosotros">
          Nosotros
        </a>
  
        <a class="navbar-item" routerLink="/catas">
          Catas
        </a>
  
        <a class="navbar-item" routerLink="/contacto">
          Contacto
        </a>
      </div>
    </div>
  </nav>