<footer id="footer">
    <div class="footer-container redes">
        <p>Estamos en:</p>
        
        <a href="https://twitter.com/" target="_blank">
            <img src="./../../assets/images/twitter.png" alt="">
        </a>

        <a href="https://www.facebook.com/" target="_blank">
            <img src="./../../assets/images/facebook.png" alt="">
        </a>

        <a href="https://www.instagram.com/" target="_blank">
            <img src="./../../assets/images/instagram.png" alt="">
        </a>
    </div>

    <div class="footer-container derechos">
        <p>Cupfee Beans 2021 - Todos los derechos reservados</p>
    </div>
</footer>
