<app-header></app-header>

<section id="contact">
    <div class="contact-info">
        <div class="info info-left">
            <div class="izq">
                <h2>Contacto</h2>

                <p>Para cualquier duda, sugerencia o simplemente<br/>
                    mandar un saludo, contáctanos<br/><br/>+34 000 000 000<br/>hello@cupfeebeans.com</p>
            </div>
        </div> 

        <div class="info info-right">
            <div class="der">
                <h2>Ubicación</h2>
                <p>C/ Echegaray 00<br/>29015<br/><a href="https://www.google.com/maps/place/Calle+Echegaray,+29015+M%C3%A1laga/@36.7212723,-4.4212698,17z/data=!3m1!4b1!4m5!3m4!1s0xd72f7955efd63b1:0x63da195d3cf4a48c!8m2!3d36.721268!4d-4.4190811" target="_blank">Google maps</a></p>
            </div>
        </div>
    </div>
    <app-footer class="contact-footer"></app-footer>
</section>
