<app-header></app-header>

<section id="nosotros">
    <img src="./../../assets/images/nosotros.jpg" alt="">

    <div class="nosotros-container">
        <img src="./../../assets/images/te.png" alt="">

        <div class="clase">
            <h2>Nosotros</h2>
            <p>Cupfee Beans es tu cafetería favorita situada en 
                el centro de<br/> Málaga. Una empresa muy joven pero 
                al mismo tiempo madura.<br/> Con el entusiasmo de un 
                cachorro pero la cabeza de un búho<br/> sabio. Dos 
                amigos amantes del café que decidieron crear una<br/> 
                marca para llenar un pequeño vacío en la ciudad y 
                acercar el café<br/> natural y de comercio justo a todos 
                los vecinos de Málaga.</p>
        </div>

        <div class="clase">
            <h2>Filosofía</h2>
            <p>Nuestra filosofía está basada en el conocimiento, 
                la pasión, el<br/> respeto a las/os agricultores que 
                se esfuerzan en producir las<br/> mejores cosechas, 
                haciendo que podamos ofrecer un producto<br/> con la 
                mayor calidad posible. Nos esforzamos en conocer 
                los<br/> procesos por los que pasa cada producto y los 
                desafíos a los que<br/> se enfrentan cada uno de los 
                productores.</p>
        </div>
    </div>

    <div class="jelou">
    <div class="text">
        <p>Comprar y utilizar productos orgánicos no 
        sólo puede mejorar nuestra salud y la de nuestra familia, 
        sino que además ayuda a conservar nuestro medio ambiente. 
        Los productos orgánicos, ecológicos o bio se obtienen a 
        través de sistemas productivos sostenibles, es decir, en 
        armonía con el medio ambiente. En nuestro país, existe un 
        reglamento que permite la certificación ecológica de 
        alimentos desde el año 2000.<br/><br/>

        El café, para que sea considerado café ecológico, 
        debe cumplir, entre otras, con características como ser 
        producido bajo un uso racional de los recursos naturales, 
        que durante su proceso de producción no se utilicen 
        productos químicos, que se respete la biodiversidad de la 
        zona de producción, que sea envasado con materiales 
        reciclados, que no contribuya a la contaminación del medio 
        ambiente y que no afecte a la salud de las personas ni los 
        animales.<br/><br/>
        
        Que no se utilicen productos químicos en la agricultura 
        ecológica no significa que no se controlen las plantaciones, 
        sino que para su cuidado se utilizan insecticidas y fungicidas 
        derivados de compuestos orgánicos, que ayudan a controlar de 
        manera natural las plagas y las enfermedades de las plantas. 
        Para saber identificar los productos bio o ecológicos 
        deberemos encontrar su sello en el envase que nos garantice 
        esta condición. Además, también podemos revisar la etiqueta 
        del propio producto, para cerciorarnos de que no contenga 
        sustancias químicas u otros componentes artificiales o 
        tóxicos.<br/><br/>
        
        Las plantas que utilizamos para elaborar nuestras Infusiones 
        Bio Jurado de Hinojo, Manzanilla, Cola de Caballo y Té Verde 
        proceden exclusivamente de producciones biológicas 
        controladas y son cultivadas, cosechadas, secadas y 
        preparadas con el máximo cuidado para garantizar una cantidad 
        óptima de aceites esenciales.<br/><br/>
        
        Los productos Cupfee Beans, son productos alimenticios que no 
        han sido tratados con ningún tipo de pesticida o producto 
        químico que no sea de origen natural, todos nuestros 
        productos respetan y cumplen los ciclos propios marcados por 
        la naturaleza del propio alimento y por supuesto no han sido 
        modificados genéticamente.<br/><br/>
        
        Las técnicas de cultivo utilizadas ayudan a la conservación 
        de la fauna y a la reducción de la emisión de gases de efecto 
        invernadero.<br/><br/>

        Todos nuestros cafés son producidos sin la ayuda de 
        sustancias químicas artificiales, por lo que las plantas 
        solo cuentan con los nutrientes que de forma natural hay en 
        el suelo, haciendo que sea un producto de mayor calidad y 
        que nos conecte aun más con la tierra.</p>
    </div>
    </div>
    
    <app-footer></app-footer>
</section>