<app-header></app-header>

<section id="catas">
    <img src="./../../assets/images/catas.jpg" alt="">

    <div class="catas-container">
        <img src="./../../assets/images/te.png" alt="">

        <div class="clase catas-info">
            <h2>SI QUIERES APRENDER MÁS ACERCA CÓMO PREPARAR UN BUEN CAFÉ<br/>
                Y SUS CARACTERÍSTICAS PARTICIPA EN UNA DE NUESTRAS CATAS SEMANALES</h2>
            <p>Cada domingo realizamos una cata de café arábica y 
                robusta en nuestro local. Reserva tu plaza y 
                aprende a reconocer las características más<br/> básicas 
                y que ayudan a identificar el sabor y la calidad 
                única de cada café, maridado con nuestros mejores 
                frutos ecológicos y dulces elaborados<br/> por nosotros 
                artesanalmente.<br/><br/>

                <b>Horario y lugar: Cada domingo a partir de las 11:00 en nuestro local.<br/>
                Rellena nuestro formulario para confirmar tu plaza.</b></p>
        </div>
    </div>

    <section id="form">
        <form action="">
            <input type="text" placeholder="Name*">
            <input type="text" placeholder="E-mail*">
            <input type="text" placeholder="Password*">

            <input class="btn-form" type="submit">
        </form>
    </section>

    <app-footer></app-footer>
</section>