<app-header></app-header>

<section id="home">
    <div class="hero-container">
        <div class="container-info">
            <h1>Café 100%<br/>Natural de<br/>Comercio Justo</h1>

            <p>Cafetería dedicada a la elaboración de cafés de alta 
                    calidad situada en el centro de Málaga.</p>
        </div>
    </div>
</section>

<section id="home-cupfee-products">
    <div class="cupfee-products-info">
        <div class="info info-left">
            <h2>Cupee Beans</h2>
            <p>Te traemos los mejores granos desde la productora 
                hasta tu taza dejando por el camino la menor 
                huella ambiental posible para que solo tengas que 
                cuparte del sabor y el aroma. Si quieres saber más 
                sobre nosotros haz click en el botón de abajo.</p>
            <a routerLink="/nosotros"><button class="general-btn">Nosotros</button></a>
        </div>

        <div class="info info-right">
            <h2>Nuestros productos</h2>
            <p>En nuestra tienda podrás encontrar una amplia gama
                de productos de merchandising, tés y tu café favorito para
                que puedas disfrutarlo en casa siempre que quieras. Y si no puedes acercarte a nuestro local no te preocupes
                ¡nosotros te lo llevamos! </p>
            <a href="/products"><button class="general-btn">Productos</button></a>
        </div>
    </div>
</section>

<section id="home-products">
    <div class="home-products-container">
        <div class="caja cafe">
            <img src="./../../assets/images/cafe.png" alt="">

            <div class="info-container">
                <h2>Café</h2>
                <p>Es nuestra especialidad. Disponemos tanto de
                    arábica, robusta o mixta y varias técnicas de 
                    elaboración (chemex, prensa francesa o cafetera 
                    tradicional). ¡Ven y prueba la que más te guste!</p>
            </div>
        </div>

        <div class="caja dulce">
            <img src="./../../assets/images/donut.png" alt="">
 
            <div class="info-container">
                <h2>Dulce</h2>
                <p>¿Te apetece algo dulce con lo que acompañar tu 
                    taza de té o café? En Cupffee Beans elaboramos 
                    galletas y pasteles de forma artesanal, que son el 
                    coplemento perfecto para dejarte con el mejor sabor de 
                    boca.</p>
            </div>
        </div>
    </div>

    <div class="home-products-container">
        <div class="caja te">
            <img src="./../../assets/images/te.png" alt="">

            <div class="info-container">
                <h2>Té</h2>
                <p>Si lo tuyo no es la cafeína no está todo 
                    perdido. También tenemos una variedad de tés 
                    e infusiones relajantes y estimulantes. 
                    Algunas de estas pueden llegar a ser muy 
                    beneficiosas para tu organismo.</p>
            </div>
        </div>

        <div class="caja ecologico">
            <img src="./../../assets/images/ecologico.png" alt="">

            <div class="info-container">
                <h2>Ecológico</h2>
                <p>Todos nuestros productos son ecológicos y
                    tienen la huella ambiental más reducida
                    posible.

                    Las técnicas de cultivo utilizadas ayudan a 
                    la reducción de emisión de gases de efecto 
                    invernadero y a la conservación de la fauna 
                    silvestre.</p>
            </div>
        </div>
    </div>
</section>

<section id="home-catas">
    <div class="home-catas-container">
        <h2>Catas Semanales</h2>
        <hr>
        <p>Cada domingo realizamos una cata de café arábica y 
            robusta en nuestro local. Reserva tu plaza y aprende 
            a reconocer las características más básicas y que 
            ayudan a identificar el sabor y la calidad única de 
            cada café, maridado con nuestros mejores frutos 
            ecológicos y dulces elaborados por nosotros 
            artesanalmente.<br/><br/>

            Llámanos para reservar tu plaza</p>
        <a routerLink="/catas"><button class="general-btn">Más Información</button></a>
    </div>
</section>

<app-footer></app-footer>